<h2> Register </h2>
<hr />
<br />

<form [formGroup]="registerForm">
    <div class="container-fluid">
        <div class="panel panel-success">
            <div class="panel-heading"><b>Enter your login/password</b></div>
            <div class="panel-body">
                <div class="row" style="padding-bottom: 10px">
                    <div class="col-md-2">
                        <label for="username"> Username: </label>
                    </div>
                    <div class="col-md-10">
                        <input onfocus="this.select()" class="form-control" id="username" type="text" formControlName="username">
                    </div>
                </div>
                <div class="row" style="padding-bottom: 10px">
                    <div class="col-md-2">
                        <label for="password"> Password: </label>
                    </div>
                    <div class="col-md-10">
                        <input onfocus="this.select()" class="form-control" id="password" type="password" formControlName="password">
                    </div>
                </div>
                <div class="col" style="padding-bottom: 10px">
                    <div class="col-md-1" style="padding-bottom: 10px">
                        <button class="btn btn-success" type="submit" (click)="onRegister(registerForm.value)"> Login </button>
                    </div>

                    <div class="col-xs-11" style="padding-bottom: 10px">
                        <button class="btn btn-danger" (click)="return()"> Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
