<div class="container-fluid">
    <div class="panel panel-primary">
        <h5 class="panel-heading" (click)="onClick()">
            <div class="row">
                <div class="col-xs-10">
                    {{feedback.getRating()}}
                </div>
                <div class="col-xs-2">
                    <i> written by {{feedback.getUser()}}</i>
                </div>
            </div>
        </h5>
        <div class="panel-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-1">
                        <vote [votable]="feedback"></vote>
                    </div>
                    <div class="col-xs-11"> {{feedback.getNote()}} </div>
                </div>
            </div>
        </div>
        <div *ngIf="selected">
            <ng-container *ngFor="let comment of feedback.getComments()">
                <comment [comment]="comment"></comment>
            </ng-container>
            <div class="container-fluid">
                <form [formGroup]="commentForm">
                    <div class="panel panel-success">
                        <h5 class="panel-heading"> <label for="comment"> Write a comment </label> </h5>
                        <div class="panel-body">
                            <div style="padding-bottom: 10px">
                                <input class="form-control" id="comment" type="text" formControlName="comment">
                            </div>
                            <button class="btn btn-success" type="submit" (click)="addComment(commentForm.value)">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
